/* 設定全域字型與背景色 */
.root {
    -fx-font-family: "Microsoft JhengHei", sans-serif;
    -fx-background-color: #fff1f7;
}

/* 標籤樣式 */
.label {
    -fx-text-fill: #333;
    -fx-font-size: 12px;
}

/* 標題樣式 */
.title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #502c3c;
}

/* 按鈕樣式 */
.button {
    -fx-background-color: #cf7fa1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-padding: 6px 12px;
}

/* 按鈕滑鼠懸停效果 */
.button:hover {
    -fx-background-color: #b06685;
}

/* 按鈕聚焦效果 */
.button:focused {
    -fx-border-color:  #945f75;
    -fx-border-radius: 5px;
    -fx-padding: 5px 11px;
}

/* VBox 背景色 */
.vbox {
    -fx-background-color: #fff1f7;
}

/* ScrollPane 邊框顏色 */
.scroll-pane {
    -fx-border-color: #a98391;    
}

/* ScrollPane 內容區背景色 */
.scroll-pane .viewport {
    -fx-background-color: #fff1f7;    
}

/* ScrollPane 滾動條背景色 */
.scroll-pane .scroll-bar {
    -fx-background-color: #dfccd4; /* 設定滾動條背景顏色 */
}

/* 滾動條滑塊樣式 */
.scroll-bar .thumb {
    -fx-background-color: #efcedc; /* 設定滑塊顏色 */
    -fx-border-color: #cdb0bc;
    -fx-background-radius: 5px; /* 設定圓角 */
    -fx-border-radius:5px;
}
