/* 設定全域字型與背景色 */
.root {
    -fx-font-family: "Microsoft JhengHei", sans-serif;
    -fx-background-color: #fff1f7;
}

/* 標籤樣式 */
.label {
    -fx-text-fill: #333;
    -fx-font-size: 12px;
}

/* 標題樣式 */
.title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #502c3c;
}

/* 按鈕樣式 */
.button {
    -fx-background-color: #cf7fa1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-padding: 6px 12px;
}

/* 按鈕滑鼠懸停效果 */
.button:hover {
    -fx-background-color: #b06685;
}

/* 按鈕聚焦效果 */
.button:focused {
    -fx-border-color:  #945f75;
    -fx-border-radius: 5px;
    -fx-padding: 5px 11px;
}

/* 超連結樣式 */
.hyperlink {
    -fx-text-fill: #8f3f61; /* 設定文字顏色 */
    -fx-underline: true;
}

/* 超連結聚焦時的虛線顏色 */
.hyperlink:focused {
    -fx-border-color: #cf7fa1; /* 設定虛線顏色 */
}

/* CheckBox 外框樣式 */
.check-box .box{
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
}

/* CheckBox 滑鼠懸停時外框與陰影效果 */
.check-box:hover .box{
    -fx-border-color: #d393ae; 
    -fx-effect: dropshadow(gaussian, rgba(171, 90, 127, 0.4), 7, 0, 0, 0.5); /* 粉紫色陰影 */
}

/* CheckBox 聚焦時外框與陰影效果 */
.check-box:focused .box{
    -fx-border-color: #d393ae; /* 聚焦時改變邊框顏色 */
    -fx-effect: dropshadow(gaussian, rgba(171, 90, 127, 0.4), 7, 0, 0, 0.5); /* 粉紫色陰影 */
}

/* CheckBox 被選取時的勾勾顏色 */
.check-box:selected .mark{
    -fx-background-color: #8f3f61;
}

/* 輸入框樣式 */
.text-field {
    -fx-background-color: #ffffff; /* 背景顏色 */
    -fx-border-color: #ccc; /* 邊框顏色 */
    -fx-border-radius: 3px; /* 圓角 */
    -fx-padding: 5px; /* 內邊距 */
}

/* 輸入框聚焦效果 */
.text-field:focused {
    -fx-border-color: #d393ae; /* 聚焦時改變邊框顏色 */
    -fx-effect: dropshadow(gaussian, rgba(171, 90, 127, 0.4), 7, 0, 0, 0.5); /* 粉紫色陰影 */
}
